<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


  <!-- Position Column -->
  <ng-container matColumnDef="pid">
    <th mat-header-cell *matHeaderCellDef> Process ID </th>
    <td mat-cell *matCellDef="let element"> {{element.pid}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status</th>
    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="cpu_times_user">
    <th mat-header-cell *matHeaderCellDef> CPU Time <br>(User Mode) </th>
    <td mat-cell *matCellDef="let element"> {{element.cpu_times_user}} </td>
  </ng-container>

  <ng-container matColumnDef="cpu_times_system">
    <th mat-header-cell *matHeaderCellDef> CPU Time (Kernel Mode) </th>
    <td mat-cell *matCellDef="let element"> {{element.cpu_times_system}} </td>
  </ng-container>

  <ng-container matColumnDef="memory_info_rss">
    <th mat-header-cell *matHeaderCellDef> Memory Usage </th>
    <td mat-cell *matCellDef="let element"> {{element.memory_info_rss}} </td>
  </ng-container>

  <ng-container matColumnDef="memory_info_vms">
    <th mat-header-cell *matHeaderCellDef> RAM Usage </th>
    <td mat-cell *matCellDef="let element"> {{element.memory_info_vms}} </td>
  </ng-container>

  <ng-container matColumnDef="num_threads">
    <th mat-header-cell *matHeaderCellDef> Threads </th>
    <td mat-cell *matCellDef="let element"> {{element.num_threads}} </td>
  </ng-container>


  <ng-container matColumnDef="kill">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary" (click)="killProcess(element.pid)">KILL</button>
      </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayColumn"></tr>
  <tr mat-row *matRowDef="let row; columns: displayColumn;"></tr>
</table>

